<!DOCTYPE html>
<html lang="eng">
  <head>
    <title>Edit Comment</title>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>Book <%= @book.title %></h1>
    <h3>Page <%= params['page'] %></h3>
    <form action="/books/<%= @book.id %>/comments/<%= params['page'] %>"
      method="post">
      <label for="comment">Comment:</label><br>
      <textarea id="comment" name="comment" rows="10" cols="50">
        <%= @book.page_comments[params['page'].to_i] %>
      </textarea>
      <br>
      <input type="submit" value="Edit">
    </form>
  </body>
</html>
